# Dependencies
node_modules/
package-lock.json

# Production builds
dist/
build/

# Local databases & logs
data/
*.sqlite
*.log

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
